
#canvas{
    position: relative;
    top: 0px;
    left: 20px;
}
#form{
    position: relative;
    bottom: 500px;
}
#form{
    position: relative;
    bottom: 400px;
    left: 650px;
}
#form input{
    background: #4c3e6d;
    color: white;
    padding: 10px 20px;
    font-size: 14px;
}
#resultTable{
    position: relative;
    bottom: 300px;
    left: 700px;
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
}
th, td:first-child {
    background: #AFCDE7;
    color: white;
    padding: 10px 20px;
}
th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}
td {
    background: #D8E6F3;
}
th:first-child, td:first-child {
    text-align: left;
}
#but{
    position: relative;
    color: black;
    bottom: 60px;
    text-align: center;
    padding: 1% 2%;
    margin: 2%;
    left: 200px;
    margin-bottom: 0.5%;
    font-size: 150%;
    background: white;
    border: solid #FFD7D5;
    cursor: pointer;
    border-radius: 30px;
}
#but:hover {
    background: #FFD7D5;
}
[class="p-paginator p-component p-paginator-bottom"]{
    background: none;
    position: relative;
}
#button1{
    position: relative;
    margin-right: 900px;
    bottom: 100px;
}
#button2{
    position: relative;
    margin-right: 800px;
    bottom: 212px;
}