#canvas {
    position: relative;
    top: 0px;
    left: 20px;
    width: 500px;
    height: 500px;
}

#form {
    position: relative;
}

@media screen and (min-width: 1142px) {
    #form {
        bottom: 400px;
        left: 550px;
        margin: 0;

    }


    #resultTable {
        bottom: 300px;
        left: 600px;
        margin: 0;
    }
}
#form{
    width: 100px !important;
}

#form {
    position: relative;
    width: 700px;
}

#form input {
    background: #4c3e6d;
    color: white;
    padding: 10px 20px;
    font-size: 14px;
}

#resultTable {
    position: relative;
    width: 150px;
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
    margin: 0;
    padding: 0;
}


th, td:first-child {
    background: #AFCDE7;
    color: white;
    padding: 10px 20px;
}

th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}

td {
    background: #D8E6F3;
}

th:first-child, td:first-child {
    text-align: left;
}

#but {
    position: relative;
    color: black;
    bottom: 60px;
    text-align: center;
    padding: 1% 2%;
    margin: 2%;
    left: 200px;
    margin-bottom: 0.5%;
    font-size: 150%;
    background: white;
    border: solid #FFD7D5;
    cursor: pointer;
    border-radius: 30px;
}

#but:hover {
    background: #FFD7D5;
}

[class="p-paginator p-component p-paginator-bottom"] {
    background: none;
    position: relative;
    width: 500px;
}
.nums-field{
    margin: 3px;
    padding: 3px;
}
@media screen and (max-width: 900px){
    #canvas{
        position: relative;
        top: 0;
        left: 20px;
        width: 250px;
        height: 250px;
    }
}