<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>registration</title>
</head>
<body>
    <form method="post" action="">
        <div class="field">
            <div class="name">
                <label for="login">Login</label>
            </div>
            <div class="value">
                <input id="login" name="login" value="">
            </div>
        </div>
        <div class="field">
            <div class="name">
                <label for="password">Password</label>
            </div>
            <div class="value">
                <input id="password" name="password" type="password" value="">
            </div>
        </div>
        <div class="button-field">
            <input type="submit" value="register">
        </div>
    </form>
</body>
</html>